#VSCode
.vscode/

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# local env files
.env
.env*.local
.env.test

# vercel
.vercel

# typescript
*.tsbuildinfo

# npm
.npmrc

# prettierrc Prettier 설정은 보통 Git에 올리는 것을 추천. 그래야 나중에 다른 컴퓨터에서 작업하거나 다른 사람과 협업할 때 똑같은 코드 스타일을 유지할 수 있기 때문. 
# .prettierrc

# 내 작업 관련 md파일
다음.md 
추후개발계획.md

#playwright 결과물 
playwright-report/
test-results/

# 윈도우/맥 시스템 파일
Thumbs.db
desktop.ini
.DS_Store

# Vitest 관련 (프로젝트에 vitest.config.ts가 보이네요)
coverage/
